@import url("./css/reset.css");

:root {
    --header-color:  burlywood;
    --nav-color:     olivedrab;
    --section-color: cornflowerblue;
    --aside-color:   wheat;
    --footer-color:  rgb(112, 110, 110);
}

.article { 
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

header {
    height: 12%;
    background-color: var(--header-color);
}

nav #navmenu {
    display: flex;
    justify-content:left;
    align-items: center;

    height: 100%;
}

nav #navmenu span a {
    margin: 0.5rem;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

nav {
    height: 5%;
    background-color: var(--nav-color);
}

main {
    display: table;
    height: 100%;
}

main section {
    width: 82%;
    background-color: var(--section-color);
}

main aside {
    width: 18%;
    background-image: url('../res/ad.png');
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    height: 8%;
    background-color: var(--footer-color);
}