#cylinder .cy_id {
    position: relative;
    left: -1.5rem;
    top: -2.5rem;
    z-index: 2;

    font-family: 'Ubuntu', sans-serif;
    font-size: 5rem;
}


#cylinder .sboxline {
    border: 1px solid black;
}

#cylinder {
    display: flex;
    justify-content: center;
}

#cylinder .sbox {
    width: 25rem;
    height: 8rem;
    position: relative;
}

#cylinder #sbox1 {
    position: relative;
    left: 5rem;
}

#cylinder .row {
    width: 20rem;
    height: 2rem;

    position: absolute;
    top: calc(4rem - 2rem / 2);
    left: 2rem;

    background-color: gray;
}

#cylinder .col {
    width: 2rem;
    height: 8rem;

    position: absolute;
    background-color: gray;
}

