/* 
    구성순서는 기본태그 > 특수태그(예: header 등등..) > ID > Class > 반응형적용 등등.. 
*/

html, body {
    height: 100%;
}

header h1 {
    border-bottom: 3px solid black;
    padding: 26px;
    
    font-family: 'Hi Melody', cursive; 
    font-size: 3em
}

button {
    font-family: 'Orbit', sans-serif; 
    width: 100px;
}

header {
    height: 25%;
}

content {
    
}

footer {
    height: 10%;
}

footer p {
    text-align: center;
}


/*    class    */
.h_scene { width: 100%; }
.f_scene { width: 100%; height: 100%; }
.table { display: table }
.t_row { display: table-row }
.t_cell {
    display: table-cell;
}
.non_bline { 
    box-sizing: border-box; 
/*        calc( target - border-width/2 ) 이렇게 해도 됨.    */
/*        다만.. /2 할경우 전부 적용해야함.    */
}




/* media : react */
@media (max-width: 1280px){
    body {
        background-color: beige;
    }
}

@media (max-width: 780px) {
    body {
        background-color: #65dfeb;
    }
}

@media (max-width: 500px) {
    body {
        background-color: #a05ce9;
    }
}